<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	codelabor-flex-template</display-name>

	<!-- Flex class path -->
	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars</param-value>
	</context-param>
	
	<!-- Spring support -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/**/applicationContext*.xml</param-value>
	</context-param>
	
	<!-- SSO filter -->
	<filter>
		<filter-name>ssoFilter</filter-name>
		<filter-class>org.codelabor.system.filters.InisafeSSOFilter</filter-class>
		<init-param>
			<param-name>nlsLoginUrl</param-name>
			<param-value>http://iris.korail.go.kr/nls/login</param-value>
		</init-param>
		<init-param>
			<param-name>nlsErrorUrl</param-name>
			<param-value>http://iris.korail.go.kr/nls/login/error.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ascpUrl</param-name>
			<param-value>http://dummy.korail.go.kr:8088</param-value>		
		</init-param>
		<init-param>
			<param-name>ssoDomain</param-name>
			<param-value>.korail.go.kr</param-value>		
		</init-param>
		<init-param>
			<param-name>reuseTime</param-name>
			<param-value>5</param-value>		
		</init-param>
		<init-param>
			<param-name>sessionTime</param-name>
			<param-value>600000000</param-value>		
		</init-param>							
	</filter>
	
	
	<!-- 
	<filter-mapping>
		<filter-name>ssoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	
	<!-- Sniff filter -->
	<filter>
		<filter-name>sniffFilter</filter-name>
		<filter-class>org.codelabor.system.filters.SniffFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>sniffFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	

	<!-- Http Flex Session attribute and binding listener support -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>
	
	<!-- Spring support -->
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	

	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>

	<display-name>codelabor-flex-template</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>Main.html</welcome-file>
	</welcome-file-list>

	<!-- for WebSphere deployment, please uncomment -->
	<!--
		<resource-ref>
		<description>Flex Messaging WorkManager</description>
		<res-ref-name>wm/MessagingWorkManager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	-->
</web-app>
